<div class="container">
  <div class="columns is-multiline">
    <div class="column is-6 is-offset-3">
      <div class="content is-size-3">
        <h3><%= @user.first_name %> <%= @user.last_name %></h3>
        <p><%= @user.user_name %></p>
        <p><%= @user.email %></p>
      </div>
    </div>

    <%= render @user.recipes, show: true %>
  </div>
</div>